@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html {
  background: white;
}

html:after {
  background: url(/../images/background-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

body {
  background-color: transparent;
  font-size: 13px;
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, .7);
  font-size: 8em;
  position: relative;
  z-index: 2;
  border-bottom: 8px solid #FFBC42;
}

.panel, .panel-body, .panel > .list-group, .panel > .list-group > .list-group-item, .thumbnail {
  background-color: rgba(255, 255, 255, .7);
}

.panel > .panel-heading {
  font-weight: 700;
}

.panel > .panel-body > img {
  border-radius: 3px;
}

#recipes .thumbnail {
  padding-top: 5px;
}
