<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Mám hlad! Chci jíst!</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <div class="container-fluid">

    <h1>Mám hlad! Chci jíst!</h1>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading"><?= isset($recipe) && $recipe->name != null ? $recipe->name : "Název nevyplněn" ?></div>
          <div class="panel-body">
            <p><?= isset($recipe) && $recipe->description ? $recipe->description : "Popis nevyplněn" ?></p>
            <img src="<?= isset($recipe) && $recipe->image ? $recipe->image : "" ?>" />
            <?php if (isset($scanImage)): ?>
              <img src="<?= $scanImage ?>" />
            <?php endif; ?>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Ingredience</div>
          <ul class="list-group">
            <?php if (isset($recipe) && $recipe->ingredients != null): foreach ($recipe->ingredients as $ingredient): ?>
            <li class="list-group-item"><?= $ingredient->name ?><?= $ingredient->quantity != null ? ", " . $ingredient->quantity . " " . $ingredient->units : "" ?></li>
            <?php endforeach; endif; ?>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="products" class="col-md-10 col-md-offset-1">
          <?php
          $count = -1;
          foreach ($products as $productIngredient):
            foreach ($productIngredient as $product):
              if ($product != null):
                ++$count;
          ?>
            <?php if ($count % 4 == 0 && $count != 0): ?></div><?php endif; ?>
            <?php if ($count % 4 == 0): ?><div class="row"><?php endif; ?>
              <div class="col-md-3">
                <div class="thumbnail">
                  <img src="<?= $product->image ?>" />
                  <div class="caption">
                    <h3><?= $product->name ?></h3>
                    <p><?= $product->price->price ?> Kč</p>
                    <p><a href="<?= $product->full_url ?>" target="_blank" class="btn btn-primary" role="button">Přejít na detail</a></p>
                  </div>
                </div>
              </div>
              <?php endif; ?>
            <?php endforeach; ?>
          <?php endforeach; ?>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-offset-10 col-md-1">
        <a href="/" class="btn btn-primary" role="button">Zpět na recepty</a>
      </div>
  </div>

</body>
</html>
