<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Mám hlad! Chci jíst!</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <div class="container-fluid">

    <h1>Mám hlad! Chci jíst!</h1>

    <div class="row">
      <div id="recipes" class="col-md-10 col-md-offset-1">
          <?php
          $count = -1;
          foreach ($recipes as $recipe):
              if ($recipe != null):
                ++$count;
          ?>
            <?php if ($count % 4 == 0 && $count != 0): ?></div><?php endif; ?>
            <?php if ($count % 4 == 0): ?><div class="row"><?php endif; ?>
              <div class="col-md-3">
                <div class="thumbnail">
                  <a href="?id=<?= $recipe->id ?>"><img src="<?= $recipe->image ?>" /></a>
                  <div class="caption">
                    <h3><?= $recipe->name ?></h3>
                    <p><a href="?id=<?= $recipe->id ?>" target="_blank" class="btn btn-primary" role="button">Přejít na recept</a></p>
                  </div>
                </div>
              </div>
              <?php endif; ?>
          <?php endforeach; ?>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-offset-10 col-md-1">
        <a href="?ocr=1" class="btn btn-primary" role="button">OCR test</a>
      </div>
  </div>

</body>
</html>
